<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllIn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B9E8E0738F6F783A5F368C6C29D0D4861FC18B91</string>
				<key>dateExpires</key>
				<string>09/01/25</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JD7C46S439.com.allinappwithapi.ios--explicit-</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JD7C46S439</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AllIn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d0cbedeb-ea1c-4522-8789-68f42d6a69b0</string>
				<key>dateExpires</key>
				<string>09/01/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.allinappwithapi.ios--explicit-</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JD7C46S439</string>
				<key>name</key>
				<string>Emile Burqan</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
